:root {
  --bg-color: #f2f2f2;
  --white-color: #ffffff;
  --light-color: #fcfcfc;
  --dark-color: #3d3d3d;
  --midnight-blue-matte: #11114e;
  --steel-blue-matte: #3b719d;
  --steel-blue-medium-matte: #4a90e2;
  --sky-blue-matte: #36a7b4;
  --light-sky-blue-matte: #d1ecf5;
  --slate-gray-matte: #444444;
  --silver-matte: #c0c0c0;
  --light-gray-matte: #d3d3d3;
  --storm-gray-matte: #5d5d5d;
  --success-color: #00bd00;
  --error-color: #ff0000;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--dark-color);
  font-family: Roboto, Arial, sans-serif;
}

.button {
  background-color: var(--light-color);
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.5s ease;
  cursor: pointer;
}

.button:hover {
  background-color: var(--slate-gray-matte);
  color: var(--bg-color);
}
