.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fdfdfd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  height: 450px;

  img {
    display: flex;
    width: 300px;
    min-height: 200px;
    max-height: 200px;
    object-fit: contain;
  }
}

.product:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0% 5%;
  height: 100%;

  p {
    margin: 5px;
  }
}
