.home {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filtros_productos {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
