.profile {
  display: grid;
  grid-template-columns: 4fr 6fr;
  padding: 10px;
  color: var(--dark-color);
  .data {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    .cards {
      border: 1px solid var(--light-gray-matte);
      margin-top: 15px;
      padding: 10px;
    }
    h2,
    h3 {
      text-align: center;
    }
    h4 {

      color: rgba(0, 0, 0, 0.8);
    }
    p {
      padding: 0;
      color: rgba(0, 0, 0, 0.45);
    }
    button {
      margin-top: 15px;
      border: none;
      font-size: 14px;
      color: var(--steel-blue-matte);
      &:hover {
        color: var(--steel-blue-medium-matte);
      }
      &:active {
        color: var(--steel-blue-matte);
      }
    }
  }
  .purchases {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .panel-admin {
    display: flex;
    flex-direction: column;
    h2,
    a {
      text-align: center;
    }
    .options-container {
      border: 1px solid var(--light-gray-matte);
      display: flex;
      flex-direction: column;
      .optionButton {
        height: 50px;
        border: 1px solid var(--light-gray-matte);
      }
    }
  }
}
