.profile {
  display: grid;
  grid-template-columns: 4fr 6fr;
  padding: 10px;
  .data {
    padding: 10px;
    border: 1px solid var(--light-gray-matte);
  }
  .purchases {
    padding: 10px;
    border: 1px solid var(--light-gray-matte);
  }
}
