.order {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 0 10px;

  h4 {
    margin: 5px 0;
  }
}

.orderSection {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    align-items: center;

    label {
      margin: 2px;
    }
  }
}
