.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  width: 100%;
  color: var(--slate-gray-matte);
}

.navbar__logo {
  font-size: 27px;
  font-weight: bold;
  margin-left: 50px;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar__links a {
  color: var(--slate-gray-matte);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.navbar__links .ingresar {
  background-color: var(--steel-blue-matte);
  color: var(--light-color);
  padding: 10px 20px;
  border-radius: 5px;
}

.navbar__links:last-child {
  margin-right: 50px;
}

.navbar__links a:hover {
  transform: translateY(-1px);
}
